{% extends "pageBase.html" %}
{% load static %}
{% block stylesheet %}
  <link href="{% static 'home.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block app_block %}
<div class="container">
  <h2>Bow</h2>
  <a href="{% url 'Selection' itemname='Bow' %}">
    <div class="container-md">
      100% wide until medium breakpoint
    </div>
  </a>
</div>
<div class="container">
  <h2>Arrow</h2>
  <a href="{% url 'Selection' itemname='Arrow' %}">
    <div class="container-md">
      100% wide until medium breakpoint
    </div>
  </a>
</div>

{% endblock %}