{% extends "pageBase.html" %}
{% load static %}
{% block stylesheet %}
  <link href="{% static 'home.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block app_block %}
<div class="container">
  <form action="/" method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-secondary">Submit</button>
  </form>
</div>
<div class="home container">
  <table class="table">
    <thead>
      <td>Name</td>
      <td>Brand</td>
      {% if bowlist %}
        <td>Bow Type</td>
        <td>Draw Length</td>
        <td>Draw Strength<td>
      {% else %}
        <td>Arrow Length</td>
        <td>Arrow Spine</td>
      {% endif %}
      <td>Price</td>
      <td>Seller</td>
    </thead>
  {% if bowlist %}
    {% for bow in bowlist %}
      <tr>
        <td>{{ bow.name }}</td>
        <td>{{ bow.brand }}</td>
        <td>{{ bow.bowtype }}</td>
        <td>{{ bow.drawLength }}</td>
        <td>{{ bow.drawStrength }}</td>
        <td>{{ bow.price }}</td>
        <td>{{ bow.seller }}</td>
        <td><button type="submit" method="POST" value={{ bow }} name="bow">Select</button></td>
      </tr>
    {% endfor %}
  {% else %}
    {% for arrow in arrowlist %}
      <tr>
        <td>{{ arrow.name }}</td>
        <td>{{ arrow.brand }}</td>
        <td>{{ arrow.arrowLength }}</td>
        <td>{{ arrow.spinage }}</td>
        <td>{{ arrow.price }}</td>
        <td>{{ arrow.seller }}</td>
        <td><button type="submit" method="POST" value={{ arrow }} name="arrow">Select</button></td>
      </tr>
    {% endfor %}
  {% endif %}
</div>

{% endblock %}